
.compart-header {
  padding: clamp(1.875rem, 1rem + 4.38vw, 6.25rem) 0 0;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    padding: 40px 0;
    gap: clamp(1.25rem, -0.754rem + 3.23vw, 3.125rem);
  }

  &__info {
    flex-basis: 58%;
    font-size: 20px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__images {
    position: relative;
    width: 480px;
    &::before {
      content: '';
      position: absolute;
      width: 146px;
      height: 155px;
      top: 6%;
      left: 0;
      background: url('../images/decor/deco-4.png') center/cover no-repeat;
    }
  }

  &__img {
    display: block;
    margin-bottom: 25px;
    border-radius: 20px;
    object-fit: cover;
    &:first-child {
      margin-left: 36%;
    }
  }

  &__docs {
    padding: 50px 0 50px 30px;   
  }
}

.compart-umk {
  background: url('../images/school-compart/umk-bg.jpg') center/cover no-repeat;
  padding: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem) 0 0;

  &__title {
    text-align: center;
    color: $green;
    @extend %opensans-600;
    margin-bottom: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
  }

  &__cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
  }

  &__card {
    width: 30%;
    text-align: center;
    padding: 20px 35px 35px;
    @extend %opensans-600;
    border: 5px solid transparent;
    background: linear-gradient(0deg, rgba(8, 194, 175, 0.88), rgba(243, 104, 255, 0.83));
    box-shadow: inset 0px 0px 0px 100vw #fff;
    border-radius: 20px;
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 40px;
    span {
      @extend %opensans-600;
    }
  }

  &__list {
    padding-bottom: clamp(1.875rem, 1.125rem + 3.75vw, 5.625rem);
    &::after {
      content: '';
      position: absolute;
      width: 160px;
      height: 160px;
      bottom: 6%;
      right: 5%;
      background: url('../images/decor/deco-6.png') center/contain no-repeat;
    }
  }
}

.compart-project {
  padding: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem) 0;
  margin-bottom: 30px;
  background-image: url('../images/school-compart/compart-project-bgleft.png'); 
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 2%;
    left: 5%;
    background: url('../images/decor/deco-12.png') center/cover no-repeat;
  }

  &__top {
    display: flex;
    gap: 40px;
    margin-bottom: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
  }

  &__img {
    position: relative;
    img {
      width: 250px;
      height: 250px;
      border-radius: 12px;
      object-fit: cover;
    }
  }

  &__info {
    max-width: 70%;
  }

  &__title {
    color: $accent;
    @extend %opensans-600;
    font-size: 32px;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 20px;
  }

  &__content {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    width: 35%;
    p {
      margin-bottom: 30px;
    }
  }

  &__item {
    width: 30%;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
    a {
      display: block;
      color: $default;
      text-decoration: underline;
      margin-bottom: 20px;
      @media (any-hover: hover) {
        &:hover {
          color: $green;
        }
      }
    }
    img {
      display: block;
      margin: 0 auto 40px;
    }
  }

  &__link {
    color: $default;
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: underline;
  }
}

.compart-project--even {
  background-image: url('../images/school-compart/compart-project-bgright.png');
  background-position: top right;
  &::before {
    display: none;
  }
  &::after {
    content: '';
    position: absolute;
    width: 82px;
    height: 82px;
    bottom: 2%;
    right: 3%;
    background: url('../images/decor/deco-13.png') center/contain no-repeat;
  }
  .compart-project__num {
    right: 10px;
    left: auto;
  }
}

.compart-project--odd {
  &::before {
    background: url('../images/decor/deco-14.png') center/cover no-repeat;
    width: 80px;
    height: 80px;
    top: 37%;
    left: 3%;
  }
}

.compart-links {
  padding-bottom: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem);
  &__text {
    text-align: center;
    padding-bottom: 20px;
  }
  p {
    margin-bottom: 15px;
  }
  a {
    color: $green;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
