
.contests {
  
  &__wrap {
    padding: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem) 0 40px;
    position: relative;
    background: url('../images/contests/contests-section-bg.jpg') center/cover no-repeat;
    &::before {
      content: '';
      position: absolute;
      top: 3%;
      left: 5%;
      width: 90px;
      height: 90px;
      background: url('../images/decor/deco-8.png') center/contain no-repeat;
      z-index: 1;
    }
  }

  &__wrap--bg {
    padding: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem) 0 40px;
    background-color: $bg;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 10%;
      right: 5%;
      width: 66px;
      height: 66px;
      background: url('../images/decor/deco-7.png') center/contain no-repeat;
      z-index: 1;
    }
  }

  &__wrap--bottom {
    padding: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem) 0 40px;
    position: relative;
    background: url('../images/contests/contests-section-bg.jpg') center/cover no-repeat;
    &::before {
      content: '';
      position: absolute;
      top: 4%;
      left: 5%;
      width: 66px;
      height: 66px;
      background: url('../images/decor/deco-11.png') center/contain no-repeat;
      z-index: 1;
    }
  }

  &__title {
    text-align: center;
    padding-top: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem);
  }

  &__inner {
    flex-direction: row-reverse;
  }
}
