
.ecoproph-camp {
  padding: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem) 0 clamp(3.75rem, 3rem + 3.75vw, 7.5rem);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 146px;
    height: 146px;
    top: 5%;
    right: 5%;
    background: url('../images/decor/deco-10.png') center/contain no-repeat;
  }
  &::before {
    content: '';
    position: absolute;
    width: 66px;
    height: 66px;
    bottom: 5%;
    left: 5%;
    background: url('../images/decor/deco-11.png') center/contain no-repeat;
    z-index: -1;
  }
  &__title {
    text-align: center;
  }
  &__photos {
    padding-top: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
  }
}

