
.ecoproph-contest {
  &__text {
    padding-top: 20px;
    margin-bottom: 40px;
  }
  &__list {
    padding: 30px 0;
    &-text {
      font-size: 16px;
      a {
        font-size: 16px;
        transition: color .3s ease-in-out;
        &:hover {
          color: $green;
          
        }
      }
    }
  }
  &__img {
    margin-bottom: 20px;
    img {
      border-radius: 12px;
      object-fit: cover;
    }
  }
}
