@font-face {
  font-family: 'Pobeda', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('Pobeda-Bold'),
    url('../fonts/Pobeda-Bold.woff2') format(woff2),
    url('../fonts/Pobeda-Bold.woff') format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansCondensed', sans-serif;
  font-weight: 800;
  font-style: normal;
  src: local('OpenSansCondensed-ExtraBold'),
    url('../fonts/OpenSansCondensed-ExtraBold.woff2') format(woff2),
    url('../fonts/OpenSansCondensed-ExtraBold.woff') format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansCondensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('OpenSansCondensed-Bold'),
    url('../fonts/OpenSansCondensed-Bold.woff2') format(woff2),
    url('../fonts/OpenSansCondensed-Bold.woff') format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansCondensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local('OpenSansCondensed-SemiBold'),
    url('../fonts/OpenSansCondensed-SemiBold.woff2') format(woff2),
    url('../fonts/OpenSansCondensed-SemiBold.woff') format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansCondensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('OpenSansCondensed-Regular'),
    url('../fonts/OpenSansCondensed-Regular.woff2') format(woff2),
    url('../fonts/OpenSansCondensed-Regular.woff') format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansCondensed', sans-serif;
  font-weight: 600;
  font-style: italic;
  src: local('OpenSansCondensed-SemiBoldItalic'),
    url('../fonts/OpenSansCondensed-SemiBoldItalic.woff2') format(woff2),
    url('../fonts/OpenSansCondensed-SemiBoldItalic.woff') format(woff);
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansCondensed', sans-serif;
  font-weight: 400;
  font-style: italic;
  src: local('OpenSansCondensed-Italic'),
    url('../fonts/OpenSansCondensed-Italic.woff2') format(woff2),
    url('../fonts/OpenSansCondensed-Italic.woff') format(woff);
  font-display: swap;
}