

/*  ---------------  Intro -----------------  */

.intro {
  background: url('../images/hero-bg.jpg') no-repeat center/cover;
  padding: 55px 0 235px;
  &__hero {
    max-width: 700px;
  }
  &__subtitle {
    @extend %opensans-600;
    font-weight: 600;
    font-size: 20px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__title {
    @extend %pobeda;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    text-transform: uppercase;
    color: $green;
    margin-bottom: 45px;
  }
  &__text {
    line-height: 1.5;
    max-width: 400px;
  }
}

/*  ---------------  About -----------------  */

.about {
  padding: clamp(3.125rem, 2.125rem + 5vw, 6.25rem) 0;

  &__wrap {
    background: url('../images/about-bg.png') top right no-repeat;
    background-size: cover;
    padding: clamp(2.5rem, 1.607rem + 4.46vw, 4.375rem) 0;
  }

  &__content {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
  }

  &__img {
    flex: 0 0 calc(737px / 1320px * 100%);

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__achivements {
    list-style: none;
    padding: 0 clamp(3.125rem, -1.223rem + 9.06vw, 6.25rem);
    display: flex;
    justify-content: center;
    gap: clamp(1.875rem, -5.686rem + 12.2vw, 4.375rem);
  }

  &__achivement {
    text-align: center;
  }

  &__achivement-num {
    background-image: linear-gradient(180.41deg, rgba(8, 194, 175, 0.88) 7.08%, rgba(243, 104, 255, 0.83) 99.65%);
    color: transparent;
    background-clip: text;
    font-weight: 800;
    font-size: 64px;
    line-height: 1.3;
  }
}

/*  ---------------  Projects -----------------  */

.projects {

  padding: clamp(3.125rem, 2.125rem + 5vw, 6.25rem) 0;

  &__wrap {
    background-image: url('../images/educatprojects-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding: clamp(2.5rem, 1.607rem + 4.46vw, 4.375rem) 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__info {
    padding-left: clamp(0.625rem, -4.368rem + 8.05vw, 2.125rem);
    flex: 0 1 calc(630px / 1290px * 100%);
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__images {
    flex: none;
    width: 644px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    position: relative;

    img {
      object-fit: cover;
      border-radius: 20px;
    }
  }

  &__column.left {
    &::before {
      content: "";
      width: 110px;
      height: 130px;
      position: absolute;
      background: url('../images/decor/deco-1.png') no-repeat center/cover;
      top: 48px;
      left: 1.3%;
      z-index: 1;
    }
  }

  &__column.right {
    align-items: flex-start;
  }
}

.middle {
  position: relative;

  &::after {
    content: "";
    width: 60px;
    height: 118px;
    position: absolute;
    background: url('../images/decor/deco-2.png') no-repeat center/cover;
    top: 0;
    left: 111%;
    z-index: 1;
  }
}

.projects-upbringing {
  .projects__wrap {
    background-image: url('../images/upbringing-bg.png');
    background-position: top right;
  }

  .projects__column.left::before {
    display: none;
  }

  .middle::after {
    width: 160px;
    background: url('../images/decor/deco-3.png') no-repeat center/cover;
    left: -130%;
  }

  .top {
    position: relative;

    &::after {
      content: "";
      width: 60px;
      height: 118px;
      position: absolute;
      background: url('../images/decor/deco-2.png') no-repeat center/cover;
      bottom: 0;
      left: 111%;
      z-index: 1;
    }
  }
}

.contests {
  .projects__wrap {
    background-image: url('../images/contests-bg.png');
  }
}

/*  ---------------  Contests -----------------  */

.contests {

  &__images {
    flex: none;
    width: 600px;
    display: flex;
    justify-content: center;
    gap: 15px;

  }

  &__img {
    position: relative;

    &:first-child {
      margin-top: 170px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
      }

      &::before {
        width: 146px;
        height: 156px;
        background: url('../images/decor/deco-4.png') no-repeat center/cover;
        top: -50%;
        right: 0;
      }

      &::after {
        width: 270px;
        height: 210px;
        background: url('../images/illustration.png') no-repeat center/cover;
        bottom: -15px;
        left: -120%;
      }
    }

    img {
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

