@media (max-width: 1180px) {

  /* ---------------- home page projects --------------------  */

  .projects {
    padding: clamp(1.875rem, 1.41rem + 2.33vw, 3.125rem) 0;
    &__wrap {
      background-image: none;
      background-color: $bg;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      gap: 70px;
    }
    &__info {
      flex: 0 0 100%;
      padding-left: 0;
      text-align: center;
    }
    &__text {
      text-align: left;
    }
  }
  
  .projects.projects-upbringing { 
    .projects__wrap {
      background-image: none;
      background-color: $bg;
    }
    .projects__images {
      order: 1;
    }
  }

  .projects.contests { 
    .projects__wrap {
      background-image: none;
      background-color: $bg;
    }
  }

  .contests {
    &__img:first-child::after {
      display: none;
    }
  }

   /* ---------------- footer --------------------  */

  .footer {
    padding: 40px 0 50px;
    &__logo {
      display: inline-block;
      margin-bottom: 30px;
    }
    &__item--links {
      display: none;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      gap: clamp(1.25rem, 0.552rem + 3.49vw, 3.125rem);
      margin-bottom: 65px;
    }
    &__item {
      text-align: center;
      width: 100%;
      &:first-child,
      &:last-child {
        max-width: 100%;
      }
    }
    &__hr {
      width: 70%;
      margin-bottom: 25px;
    }

    &__contact {
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }
  }

  .phone a {
    display: inline;
  }
  
  .copyright {
    flex-direction: column;
    align-items: center;
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 992px) {

/* ---------------- header --------------------  */

  .header {
    &__menu {
      position: absolute;
      top: 0;
      left: -100%;
      width: 80%;
      height: 100vh;
      background-color: $bg;
      transition: left .3s;      
      &._active {
        left: 0;
      }
    }
  }

  .menu {
    &__list {
      padding-top: 50px;
      flex-direction: column;
      overflow: auto;
    }
    &__icon {
      display: block;
      width: 48px;
      height: 26px;
      position: relative;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $default;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
          width: 35px;
          left: auto;
          right: 0;
        }
      }
      &._active {
        span {
          transform: scale(0);      
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }      
          &:last-child {
            width: 100%;
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }

    /* ---------------- home page intro  --------------------  */
  
  .intro {
    background: url('../images/hero-tablet.jpg') no-repeat center/cover;
    padding: clamp(0.938rem, 0.342rem + 2.98vw, 2.188rem) 0 clamp(22.5rem, 19.673rem + 14.14vw, 28.438rem);
    &__hero {
      max-width: 730px;
      margin: 0 auto;
      text-align: center;
    }
    &__subtitle {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 64px;
      margin-top: -10px;
      margin-bottom: 25px;
    }
    &__text {
      max-width: 100%;
      font-size: 20px;
    }
  }

    /* ---------------- home page section about --------------------  */
    .about {

      &__achivement-num {
        font-size: 56px;
      }
      &__achivement-text {
        font-size: 20px;
      }
    }

}

@media (max-width: 768px) {

  /* ---------------- home page section about --------------------  */
  .about {
    &__content {
      flex-direction: column;
      margin-bottom: 60px;
      justify-content: center;
    }
    &__img {
      flex: 0 0 100%;
      order: 1;
    }
    &__info {
      text-align: center;
    }
    &__achivements {
      padding: 0;
      flex-direction: column;
      gap: 50px;
    }
    &__achivement-num {
        font-size: 64px;
      }
    &__achivement-text {
      font-size: 24px;
    }
  }

    /* ---------------- about page section introduction --------------------  */

  .introduction {
    &__director {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      &::after {
        display: none;
      }
    }

    &__info {
      width: 100%;
    }
    &__docs {
      max-width: 100%;
    }
  }
  .docs {
    padding: 0;
    &__item {
      padding: 100px 0 0;
      margin-bottom: 70px;
      text-align: center;
      a {
        font-size: 20px;        
      }
      img {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

}

@media (max-width: 680px) {

  /* ---------------- home page sections with projects --------------------  */

  .projects {
    &__images {
      width: 100%;
    }
    &__column {
      img {
        width: 100%;
      }
    }
    &__column.left,
    .middle, .top {
      display: none;
    }
  }

  .contests {
    &__images {
      width: 100%;
    }
    &__img:first-child {
      display: none;
    }
  }

    /* ---------------- footer --------------------  */

    .footer {
      &__item p {
        font-size: 18px;
      }

      .address {
        font-size: 16px;
      }
    }

    .phone a {
      font-size: 20px;
    }

    .copyright {
      font-size: 16px;
      &__link a {
        font-size: 16px;
      }
    }
}


@media (max-width: 560px) {

  /* ---------------- home page intro  --------------------  */

  .intro {
    background: url('../images/hero-mob.jpg') no-repeat center/cover;
    &__subtitle {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 56px;
      margin-top: -35px;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
    }
  }
    /* ---------------- home page section about --------------------  */

  .about {
    &__achivements {
      gap: 40px;
    }
    &__achivement-num {
      font-size: 48px;
    }
  }
}

@media (max-width: 420px) {

/* ---------------- header --------------------  */

  .menu {
    &__link {
      font-size: 18px;
    }
  }

    /* ---------------- footer --------------------  */

  .footer {
    padding: 40px 0 30px;
    &__content {
      margin-bottom: 45px;
    }
    &__contact {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .phone a {
    display: block;
  }
}