@media (max-width: 1180px) {

  /* ---------------- home page projects --------------------  */

  .projects {
    padding: clamp(1.875rem, 1.41rem + 2.33vw, 3.125rem) 0;
    &__wrap {
      background-image: none;
      background-color: $bg;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      gap: 70px;
    }
    &__info {
      flex: 0 0 100%;
      padding-left: 0;
      text-align: center;
    }
    &__text {
      text-align: left;
    }
  }
  
  .projects.projects-upbringing { 
    .projects__wrap {
      background-image: none;
      background-color: $bg;
    }
    .projects__images {
      order: 1;
    }
  }

  .projects.contests { 
    .projects__wrap {
      background-image: none;
      background-color: $bg;
    }
  }

  .contests {
    &__img:first-child::after {
      display: none;
    }
  }

   /* ---------------- footer --------------------  */

  .footer {
    padding: 40px 0 50px;
    &__logo {
      display: inline-block;
      margin-bottom: 30px;
    }
    &__item--links {
      display: none;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      gap: clamp(1.25rem, 0.552rem + 3.49vw, 3.125rem);
      margin-bottom: 65px;
    }
    &__item {
      text-align: center;
      width: 100%;
      &:first-child,
      &:last-child {
        max-width: 100%;
      }
    }
    &__hr {
      width: 70%;
      margin-bottom: 25px;
    }

    &__contact {
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }
  }

  .phone a {
    display: inline;
  }
  
  .copyright {
    flex-direction: column;
    align-items: center;
    &__text {
      text-align: center;
    }
  }

   /* ---------------- education-page --------------------  */

  .edu-section {
    &::before {
      display: none;
    }
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__link {
      margin: 0 auto;
    }
  }

  .edu-section--eco.edu-section {
    &::after {
      display: none;
    }
    .edu-section__img {
      order: 1;
    }
  }

   /* ---------------- fairy-school-page --------------------  */

  .school {
    &__header-wrap {
      &::before {
        display: none;
      }
    }
    
  }

  .school-compart {
    &__wrap {
      &::after {
        display: none;
      }
    }
  }

  .school-compcamp {
    &__wrap {
      &::before {
        display: none;
      }
    }
  }

  /* ---------------- school-compart page  --------------------  */

  .compart-header {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      flex-basis: 100%;
    }
  }

  .compart-umk {
    &__card {
      font-size: 20px;
      padding: 20px;
    }
    &__list {
      &::after {
        display: none;
      }
    }
  }

  .compart-project {
    background-image: none;
    background-color: $bg;
    &::before {
      display: none;
    }
    &__content {
      padding: 0;
    }
  }

  .compart-project--even {
    &::after {
      display: none;
    }
  }

  .ecoproph-school {
    &__docs::after {
      display: none;
    }
  }

  /* ---------------- fairy-camp page--------------------  */

  .fairy-camp {

    &__descr {
      &::after {
        display: none;
      }
    }
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      width: 100%;
    }
    &__slider {
      max-width: 100%;
    }
    &__slide {
      img {
        margin: 0 auto;
      }
    }
    &__album {
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {

/* ---------------- header --------------------  */

  .header {
    
    &__menu {
      position: absolute;
      top: 0;
      left: -100%;
      width: 80%;
      height: 100vh;
      background-color: $bg;
      transition: left .3s; 
      z-index: 100;
      &._active {
        left: 0;
      }
    }
  }

  .menu {
    &__list {
      padding-top: 50px;
      flex-direction: column;
      overflow: auto;
    }
    &__icon {
      display: block;
      width: 48px;
      height: 26px;
      position: relative;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $default;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
          width: 35px;
          left: auto;
          right: 0;
        }
      }
      &._active {
        span {
          transform: scale(0);      
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }      
          &:last-child {
            width: 100%;
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }

    /* ---------------- home page intro  --------------------  */
  
  .intro {
    background: url('../images/hero-tablet.jpg') no-repeat center/cover;
    padding: clamp(0.938rem, 0.342rem + 2.98vw, 2.188rem) 0 clamp(22.5rem, 19.673rem + 14.14vw, 28.438rem);
    &__hero {
      max-width: 730px;
      margin: 0 auto;
      text-align: center;
    }
    &__subtitle {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 64px;
      margin-top: -10px;
      margin-bottom: 25px;
    }
    &__text {
      max-width: 100%;
      font-size: 20px;
    }
  }

    /* ---------------- home page section about --------------------  */
    .about {

      &__achivement-num {
        font-size: 56px;
      }
      &__achivement-text {
        font-size: 20px;
      }
    }

  /* ---------------- about page, block about-cards --------------------  */

  .about-cards {
    &::before {
      display: none;
    }
    &__item {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      margin: 0 auto 25px;
    }
    &__num {
      font-size: 48px;
      order: -1;
    }
    &__text {
      max-width: 100%;
      font-size: 18px;
      span {
        font-size: 20px;
      }
    }
    &__img {
      margin: 0 auto;
    }
  }

  /* ---------------- about page, block about-awards ----------------  */

  .about-awards {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }

   /* ---------------- fairy-school-page --------------------  */
  
  .school {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__img {
      text-align: center;
    }
    &__link {
      margin: 0 auto;
    }
  }
  .school-compcamp {
    .school__img {
      order: 1;
    }
  }

  /* ---------------- school-compart page  --------------------  */

  .compart-header {
    &__text {
      text-align: center;
      margin-bottom: 30px;
    }
    &__docs {
      padding: 50px 0;
    }
  }

  .compart-umk {
    &__cards {
      flex-direction: column;
      align-items: center;
    }
    &__card {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .compart-project {
    &__top {
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
    }
    &__info {
      max-width: 100%;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    &__list,
    &__item {
      width: 100%;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

   /* ---------------- ecoproph-school page  --------------------  */

  .ecoproph-school {
    &__umk {
      padding-left: 50px;
      flex-direction: column;
      gap: 0;
    }
    &__list,
    &__demo {
      width: 100%;
    }
    &__demo {
      .docs__item {
        margin-bottom: 0;
      }
    }
    &__journal-docs {
      flex-direction: column;
      padding-left: 50px;
      gap: 30px;
    }
  }

/* ---------------- 404-page --------------------  */

  .error-page {
    &__text {
      font-size: 20px;
    }
  }

  /* ---------------- fairy-camp page--------------------  */
  
  .fairy-camp {
    &__album-content {
      flex-direction: column;
      align-items: center;
    }
    &__album-img {
      width: 100%;
      img {
        margin: 0 auto;
      }
    }
    &__album-info {
      width: 100%;
    }
    &__album-title {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {

  /* ---------------- home page section about --------------------  */
  .about {
    &__content {
      flex-direction: column;
      margin-bottom: 60px;
      justify-content: center;
    }
    &__img {
      flex: 0 0 100%;
      order: 1;
    }
    &__info {
      text-align: center;
    }
    &__achivements {
      padding: 0;
      flex-direction: column;
      gap: 50px;
    }
    &__achivement-num {
        font-size: 64px;
      }
    &__achivement-text {
      font-size: 24px;
    }
  }

    /* ---------------- about page section introduction --------------------  */

  .introduction {
    &__director {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      &::after {
        display: none;
      }
    }

    &__info {
      width: 100%;
    }
    &__docs {
      max-width: 100%;
    }
  }

  .docs {
    padding: 0;
    &__item {
      padding: 100px 0 0;
      margin-bottom: 50px;
      text-align: center;
      a {
        font-size: 20px;        
      }
      img {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

     /* ---------------- about page, block about-awards ----------------  */
  
  .about-awards {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__text {
      font-size: 18px;
    }
  }

     /* ---------------- education-page, top ----------------  */

  .education-page {
    &__message {
      flex-direction: column;
      p {
        text-align: center;
      }
    }
  }

   /* ---------------- fairy-school-page --------------------  */

  .school {
    &__header {
      flex-direction: column;
      align-items: center;
    }
    &__header-text {
      max-width: 100%;
    }
  }

   /* ---------------- ecoprophylaxis page --------------------  */

  .ecoprophylaxis {
    &__text {
      max-width: 100%;
    }
  }

  /* ---------------- ecoproph-school page --------------------  */

  .ecoproph-school {
    &__umk,
    &__journal-docs {
      padding-left: 0;
      gap: 0;
    }
    &__journal-text {
      flex-basis: 100%;
    }
    &__journal-img {
      margin: 0 auto;
      order: -1;
    }
    &__demo {
      p {
        font-size: 20px;
      }
    }
  }

/* ---------------- 404-page --------------------  */

  .error-page {
    &__inner {
      flex-direction: column;
    }
    &__item {
      flex: 0 0 100%;
      text-align: center;
    }
    &__text {      
      max-width: 100%;
    }
  }
}

@media (max-width: 680px) {

  /* ---------------- home page sections with projects --------------------  */

  .projects {
    &__images {
      width: 100%;
    }
    &__column {
      img {
        width: 100%;
      }
    }
    &__column.left,
    .middle, .top {
      display: none;
    }
  }

  .contests {
    &__images {
      width: 100%;
    }
    &__img:first-child {
      display: none;
    }
  }

    /* ---------------- footer --------------------  */

    .footer {
      &__item p {
        font-size: 18px;
      }

      .address {
        font-size: 16px;
      }
    }

    .phone a {
      font-size: 20px;
    }

    .copyright {
      font-size: 16px;
      &__link a {
        font-size: 16px;
      }
    }

}


@media (max-width: 560px) {

  /* ---------------- home page intro  --------------------  */

  .intro {
    background: url('../images/hero-mob.jpg') no-repeat center/cover;
    &__subtitle {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 56px;
      margin-top: -35px;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
    }
  }
    /* ---------------- home page section about --------------------  */

  .about {
    &__achivements {
      gap: 40px;
    }
    &__achivement-num {
      font-size: 48px;
    }
  }

    /* ---------------- about page, block about-cards --------------------  */

  .about-cards {
    &__item {
      padding: 20px 10px 40px;
    }
    &__num {
      font-size: 32px;
    }
    &__img {
      display: none;
    }
  }

  /* ---------------- fairy-school-page --------------------  */

  .school {
    &__header-text {
      font-size: 18px;
    }
  }

  /* ---------------- ecoprophylaxis page --------------------  */

  .ecoprophylaxis {
    &__text {
      font-size: 18px;
    }
  }

  /* ---------------- school-compart page  --------------------  */

  .compart-header {
    &__content {
      padding: 0 0 30px;
    }
    &__images {
      width: 100%;
      &::before {
        display: none;
      }
    }
    &__img {

      &:first-child {
        margin: 0 auto;
      }
      &:last-child {
        display: none;
      }
    }
  }

  .compart-umk {
    padding: 0;
    &__cards {
      margin-bottom: 10px;
    }
    &__item {
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 20px;
    }
    &__title {
      font-size: 20px;
    }
  }

  .compart-project {
    &__top {
      gap: 20px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
    &__link {
      font-size: 18px;
    }
    &__item {
      img {
        margin: 0 auto 15px;
      }
    }
  }

  /* ---------------- ecoproph-school page --------------------  */

  .ecoproph-school {
    &__journal-text {
      font-size: 18px;
    }
  }

/* ---------------- 404-page --------------------  */

  .error-page {
    &__text {
      font-size: 18px;
    }
  }

    /* ---------------- fairy-camp page--------------------  */
  
    .fairy-camp {
      &__album-content {
        margin-bottom: 20px;
      }
      &__album-title {
        font-size: 20px;
      }
    }
}

@media (max-width: 420px) {

/* ---------------- header --------------------  */

  .menu {
    &__link {
      font-size: 18px;
    }
  }

    /* ---------------- footer --------------------  */

  .footer {
    padding: 40px 0 30px;
    &__content {
      margin-bottom: 45px;
    }
    &__contact {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .phone a {
    display: block;
  }
}