$green: #007D70;
$accent: #CA32D8;
$default: #373838;
$bg: #FFF8F2;
$lightgreen: #D7EED6;
$salad: #E0EEA1;

%pobeda {
  font-family: 'Pobeda', sans-serif;
  font-weight: 700;
}

%opensans-800 {
  font-family: 'OpenSansCondensed-ExtraBold', sans-serif;
  font-weight: 800;
}

%opensans-700 {
  font-family: 'OpenSansCondensed-Bold', sans-serif;
  font-weight: 700;
}

%opensans-600 {
  font-family: 'OpenSansCondensed-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-400 {
  font-family: 'OpenSansCondensed-Regular', sans-serif;
  font-weight: 400;
}

%opensansitalic-600 {
  font-family: 'OpenSansCondensed-SemiBoldItalic', sans-serif;
  font-weight: 600;
  font-style: italic;
}

%opensansitalic-400 {
  font-family: 'OpenSansCondensed-Italic', sans-serif;
  font-weight: 400;
}