@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.fairy-camp {
  
  &__descr {
    padding: clamp(1.875rem, 1rem + 4.38vw, 6.25rem) 0 clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
    position: relative;    
      &::after {
        position: absolute;
        content: '';
        width: 66px;
        height: 66px;
        bottom: 10%;
        right: 5%;
        background: url('../images/decor/deco-11.png') center/contain no-repeat;
      }
  }
  &__title {
    text-align: center;
  }
  &__inner {
    padding: 40px 0 clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
    display: flex;
    gap: 30px;    
  }
  &__item {
    flex-basis: 48%;
  }
  &__slider {
    max-width: 645px;
    position: relative;
  }
  &__slider-wrap {
    padding-bottom: 60px;
  }
  &__slide {
    display: none;
    img {
      display: block;
    }
  }
  &__btn {
    position: absolute;
    cursor: pointer;
    width: 46px;
    height: 45px;
    bottom: 0;
    background: url('../images/icons/arrow-btn.svg') center no-repeat;
    border: 1px solid $accent;
    border-radius: 50%;
    
  }
  &__btn--prev {
    left: calc(50% - 56px);
    transform: rotate(180deg);
  }
  &__btn--next {
    left: calc(50% + 10px);
  }

  &__album {
    position: relative;
    background-color: $bg;
    padding: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem) 0 clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);
    &::before {
      position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        bottom: 32%;
        left: 5%;
        background: url('../images/decor/deco-12.png') center/contain no-repeat;
    }
  }
  &__album-content {
    padding: 20px 0;
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
  }
  &__album-img {
    width: 280px;
    height: 396px;
    img {
      display: block;
      object-fit: cover;
      border: 1px solid $green;
      border-radius: 12px;
    }
  }
  &__album-info {
    flex-basis: 75%;
  }
  &__album-title {
    @extend %opensans-600;
    margin-bottom: 25px;
  }
}

@import 'media';