@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.footer {
  background-color: $lightgreen;
  padding: 50px 0 25px;

  &__logo {
    display: block;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    gap: clamp(1.875rem, -3.108rem + 6.76vw, 5rem);
    margin-bottom: 50px;
  }

  &__item {
    &:first-child {
      max-width: clamp(25rem, 19.02rem + 8.11vw, 28.75rem);
    }
    &:last-child {
      max-width: 300px;
    }
    p {
      margin-bottom: 10px;
    }
  }

  .address {
    font-size: 20px;
  }

  &__item-title {
    @extend %opensans-600;
    margin-bottom: 25px;
  }

  &__list {
    padding-left: 0;
  }

  &__link {
    margin-bottom: 10px;
  }

  &__link a {
    color: $default;
    font-size: 20px;
    @media (any-hover: hover) {
      &:hover {
        border-bottom: 1px solid $default;
      }
    }
  }

  &__contact {
    display: flex;
    gap: 15px;
  }
  &__hr {
    width: 100%;
    margin-bottom: 15px;
  }
}

.phone a {
  display: block;
  color: $default;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 20px;

  &__link a {
    font-size: 20px;
    color: $default;
    @media (any-hover: hover) {
      &:hover {
        border-bottom: 1px solid $default;
      }
    }
  }
}

@import 'media';