@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

/* ----------------  header menu -------------------- */

.header {
  padding: clamp(0.938rem, -0.386rem + 2.13vw, 1.375rem) 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.25rem, -0.754rem + 3.23vw, 3.125rem);
  }
}

.menu {

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: clamp(0.938rem, -1.401rem + 3.77vw, 3.125rem);
  }

  &__item {
    transition: border-bottom .5s;
    @media (any-hover: hover) {
      &:hover {
        border-bottom: 1px solid $accent;
        a {
          color: $accent;
        }
      }
    }
  }

  &__item--active {
    a {
      color: $accent;
    }
  }

  &__link {
    color: $default;
    font-size: 20px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    transition: color .3s;
  }

  &__icon {
    display: none;
  }
}

@import 'media';
